<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBph22b9EombbaAXgppxJ1mPVAmeX3y3WA</string>
	<key>GCM_SENDER_ID</key>
	<string>344538215020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.util-product.simpleApp</string>
	<key>PROJECT_ID</key>
	<string>life-balance-195de</string>
	<key>STORAGE_BUCKET</key>
	<string>life-balance-195de.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344538215020:ios:ffc082be67676a66b25e49</string>
</dict>
</plist>